30 5,13,21 * * * . /home/tg_bot/enable_ruby_25; /opt/rh/rh-ruby25/root/usr/bin/ruby /home/tg_bot/bot_dir/messages_to_battle.rb --notification-type T90Battle >>/home/tg_bot/battle.log 2>&1

30 6,14,22 * * * . /home/tg_bot/enable_ruby_25; /opt/rh/rh-ruby25/root/usr/bin/ruby /home/tg_bot/bot_dir/messages_to_battle.rb --notification-type T30Battle >>/home/tg_bot/battle.log 2>&1

52 6,14,22 * * * . /home/tg_bot/enable_ruby_25; /opt/rh/rh-ruby25/root/usr/bin/ruby /home/tg_bot/bot_dir/messages_to_battle.rb --notification-type T8Battle >> /home/tg_bot/battle.log 2>&1
